@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";

@import "tailwindcss/base";

@import "tailwindcss/components";
@import "components.css";

@import "tailwindcss/utilities";
@import "utilities.css";

html,body {
  height: 100%;
  width: 100%;
}

body {
  --color-text: #fff;
	--color-bg: #000000;
	--color-bg-2: #0e0e0f;
  --color-bg-3: #157FEA;
  
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(ellipse at 500% 0%, var(--color-bg) 50%, var(--color-bg-2) 80%, var(--color-bg-3) 250%);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 800px);
  z-index: -2;
  transform: translateY(-800px);
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }