<NavBar @active="contact"/>

<div class="pt-24 mx-20 text-white h-screen">
  <div class="font-bold text-4xl underline">
    Contact
  </div>

  <form class="w-full"
      name="contact"
      method="post">
    <input type="hidden" name="form-name" value="contact" />
    <div class="flex mt-24 text-3xl">
      <input class="appearance-none bg-transparent w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none border-b border-b-2 border-gray-100 
        focus:border-primary"
        name="name"
        type="text" 
        placeholder="Name" 
        aria-label="Full name">

      <input class="appearance-none bg-transparent w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none border-b border-b-2 border-gray-100 ml-5
        focus:border-primary"
        name="email"
        type="email" 
        placeholder="Email" 
        aria-label="email">
    </div>

    <div class="mt-10">
      <textarea 
        class="appearance-none focus:outline-none bg-transparent w-full text-white mr-3 py-1 px-2 leading-tight focus:outline-none border-b border-b-2 border-gray-100 text-3xl
          focus:border-primary"
        name="message"
        placeholder="Message"
        aria-label="message"
        rows="5"></textarea>
    </div>

    <div class="flex justify-center mt-10">
      <button class="text-light text-2xl rounded-full border-2 px-24 py-2
        hover:border-primary hover:text-primary">
        send
      </button>
    </div>
  </form>
</div>