<NavBar @active="projects"/>

<div class="pt-24 mx-20 text-white h-screen">
  <div class="font-bold text-4xl underline">
    Projects
  </div>

  <div class="flex flex-col mt-5">
    <div class="p-5 bg-gray-900 rounded-lg flex mb-2">
      <div class="w-4/12">
        <img src="images/virtical-portal-theme.png" alt="" class="h-56 object-cover rounded-md">
      </div>
      <div class="w-4/6 flex flex-col justify-between">
        <div>
          <span class="text-xs mt-2">
            April 12 2020
          </span>
          <div class="font-semibold text-3xl">
            Freshdesk Portal Theme 
          </div>
          <div class="text-gray-300 text-sm">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          </div>
        </div>
        <div class="mb-2 text-sm font-semibold text-gray-400 hover:text-white flex">
          <LinkTo @route="projects">
            <div class="flex items-center border px-2 py-1 rounded hover:border-primary hover:text-primary">
              {{svg-jar "link" class="flex stroke-current fill-current w-4 h-4"}}
              <span class="leading-snug ml-1">
                know more
              </span>
            </div> 
          </LinkTo>
        </div>
      </div>
    </div>

  </div>
</div>